/* 
    Document   : estilos
    Created on : 13/10/2013, 07:48:38 PM
    Author     : SAMBONI
    Description:
        Purpose of the stylesheet follows.
*/

* {
    padding:0px;
    margin:0px;
}
#header{

    width: 100%;
    margin-left: 0 0 0 110px;
    border: 0px;
    padding: 0px; 
    box-shadow: none;
    background: #999;
    height: 80px; /*Altura del Header*/
}
/***
Footer
***/
.footer {
    padding: 8px 20px 5px 20px; 
    font-size: 12px;
    color: #999;

    padding-left: 10px;
    padding-right: 10px;
    
}

.page-content {  
    margin-top: 0px;   
    padding: 0px;
    background-color: #fff; 
}

#content {
    width: 80%; 
    float: right; /*Alineado a la derecha*/
    /*background: white;*/

}
#sidebar {
    width: 0px; 
    float: left;
    margin:auto;
    width:180px;
    font-family:Arial,Helvetica, sans-serif; 

}

ul, ol{
    list-style-type: none;

}

.nav li a{
    background-color:#000;
    color: #fff;
    text-decoration:none;   
    padding: 10px 15px;
    display: block;

}
.nav li a:hover{
    background-color: red;                
    /*cursor: pointer;*/
}
/*.nav > li{float: left;}*/


.nav li ul{
    display:none;
    position: relative;

    /*min-width: 145px;*/
}
.nav li:hover> ul{
    display: block;
    background-color:#999;
}
